<div class="favorite">
  <h3 class="favorite_option">お気に入り</h3>
  <% @favorites.each do |favorite| %>
    <div class="contribution">
      <p><%= link_to 'Show', picture_path(favorite.picture.id) %></p>
      <p><%= favorite.sentence.content %></p>
      <%= image_tag favorite.picture.images[0].url %>
    </div>
  <% end %>
</div>
