img{
  height: 300px;
  width: 300px;
}

.contribution{
  float: left;
  margin: 20px 30px;
}

#sentence{
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show_option{
margin-left: 20px;
}

.show img{
  margin: 20px 20px;
}

.form img{
  margin: 20px 20px;
}

.confirm img{
  margin: 20px 20px;
}

.confirm_option{
  margin-left: 25px;
}

.form_option{
  margin-left: 20px;
}

.form img{
  margin: 20px 20px;
}

.new_option{
  margin-left: 45px;
}

.favorite_option{
  margin-left: 20px;
}
