img{
  height: 300px;
  width: 300px;
}

.contribution{
  float: left;
  margin: 20px 20px;
}

.option{
  margin-left: 20px;
}

.content img{
  margin: 20px 20px;
}

#sentence{
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.new_option{
  margin-left: 40px;
}

.edit{
  margin-left: 40px;
}
