.create_account{
  text-align: center;
  border: solid 1px #000;
  margin-top: 5%;
  margin-left: 35%;
  width: 300px;
}

#sumaho{
  height: 600px;
  margin-left: 20%;
  margin-right: 5%;
  width:auto;
  float: left;
}

.login{
  float: right;
  margin-top: 10%;
  margin-right: 25%;
  border: solid 1px #000;
  width: 250px;
  text-align: center;
}

#dummy{
  height: 100px;
  width: auto;
  margin-bottom: 15px;
}

.profile{
  float: right;
  margin-top: 16%;
  margin-right: 24%;
}

#profile_show{
  height: 300px;
  width: 300px;
  border-radius: 300px;
  margin-top: 10%;
  margin-left: 20%;
}

.profile_edit{
  border: solid 1px #000;
  width: 360px;
  text-align: center;
  margin: auto;
  margin-top: 4%;
}

#profile_image_edit{
  height: 200px;
  width: 200px;
  border-radius: 200px;
  margin-bottom: 20px;
}
